# pandas

In [1]:
#파이썬의 데이터분석 라이브러리

In [2]:
#panal datas
#시계열이나 표 형태로 나타낼 수있음
#series 클래스, dataframe클래스 제공
#숫자테이블과 시계열을 조작하기 위한 데이터 구조와 연산 제공

In [3]:
#사용하기 위해서는 해당 패키지를 임초트 해야 함.
#원래는 별도 설치가 필요하나, 아나콘다에 다 들어있기 때문에 임포트만

In [4]:
import pandas as pd

# Series class (pd.Series())

In [5]:
#Numpy에서 제공하는 1차원 배열과 모양이 비슷
#Series class는 배열과 다르게 각 데이터의 의미를 표시하는 index(index)를 붙일 수 있음
#데이터 자체는 값(value)

In [6]:
series = pd.Series(["하나", "둘", "셋", "넷", "다섯",
                    "여섯", "일곱", "여덟", "아홉", "열"], #value(기수)
                   index = [_ for _ in range(1, 11)]) #index(수)
                # index를 1부터 시작하게 초기값 설정
series

1     하나
2      둘
3      셋
4      넷
5     다섯
6     여섯
7     일곱
8     여덟
9     아홉
10     열
dtype: object

# Series 생성

In [7]:
#Series 객체를 만들 때 첫 인수로 data, 두 번째 인수로는 index를 넣습니다.
#data 값으로 iterable, 배열, scalar value, dict(key와 index를 동일하게 사용하거나 생략)를 사용할 수 있습니다.
#index는 label이라고도 합니다. index는 data와 length가 동일해야 합니다. 
#label은 꼭 유일(unique)할 필요는 없습니다. 
#다만 반드시 hashable type만 사용 가능 합니다.
#만약 index를 생략할 경우 RangeIndex(0, 1, … , n)를 제공합니다.

#class pandas.serise(data = None,index = None,dtype = None,name = None, copy = False, fastpath = False)

In [8]:
#각 도시의 2015년 인구데이터를 series로 만들기
#사이사이 언더바를 넣어  쉽게 읽을 수 있도록 끊어 표기할 수 있음)

s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
             index = ["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [9]:
#연습문제
s = pd.Series([10,20,30,40,50,60,70,80,90], #내꺼 #Series는 대문자로 시작
              index = ["0","1","2","3","4","5","6","7","8"])
s

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [10]:
#연습문제 다른 답안
s = pd.Series(range(10,91,10)) #진명님
s
#인덱스는 0부터 시작이기에 지정해주지 않아도 됌

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

## Series class - index,values의 조건

In [11]:
pd.Series(range(10,14))
# index 지정을 안 하면 Series의 index는 0부터 시작하는 정수

0    10
1    11
2    12
3    13
dtype: int64

In [12]:
#Series의 index는 index 속성으로 접근할 수 있다. 
#Series의 value는 1차원 배열(ndarray)이며 values 속성으로 접근할 수 있습니다.
s.index

RangeIndex(start=0, stop=9, step=1)

In [13]:
s.values # 데이터 타입이 ndarrays이다.

array([10, 20, 30, 40, 50, 60, 70, 80, 90], dtype=int64)

In [14]:
#연습문제
#앞선 연습 문제에서 만든 Series 객체의 값 중 50보다 큰 값의 개수를 구해보세요.
s.values>50
sum(s.values>50)

4

### Series class - name, index.name

In [15]:
#name 속성을 이용하여 Series 데이터에 이름을 붙일 수 있습니다. 
#index.name 속성으로 Series의 index에도 이름을 붙일 수 있습니다.

s.name = "인구" # Series 이름 생성
s.index.name = "도시" # 인덱스 상단에 이름 생성
s

도시
0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
Name: 인구, dtype: int64

#### Series class - data에 dict 사용

In [16]:
#Series 객체를 만들 때 data에 dict를 사용
#아래 예제에서는 dict와 동일하게 index를 적용하고 있습니다. 
#만들어진 Series 객체를 조회해보면 그 값이 정상적으로 조회되는 것을 확인할 수 있습니다.

d = {'a' : 1, 'b' : 2, 'c' : 3}
ser = pd.Series(data = d, index = ['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [17]:
#인덱스 순서가 달라져도 가능
d = {'a' : 1, 'b' : 2, 'c' : 3} #index로 순서를 만들어 줌
ser = pd.Series(data = d, index = ['c', 'a', 'b'])
ser

c    3
a    1
b    2
dtype: int64

In [18]:
#dict의 key와 Series 객체의 index를 다르게 설정
#data가 dict일 때 index가 최초에 dict의 key로 만들어집니다. 
#그 후 Series는 index 키워드로 전달받은 인수로 index를 재할당합니다. 
#그래서 밑에 예제와 같이 Series 객체의 값이 NaN의 결과를 출력하는 것을 확인할 수 있습니다.

d = {'a' : 1, 'b' : 2, 'c' : 3} # key값이 최초에 index으로 사용
ser = pd.Series(data = d, index = ['x', 'y', 'z'])
# 키워드 인수로 넘겨받은 index 값 재할당
ser # index가 재할당 되면서 매치되는 데이터가 없음(NaN 출력)
#np.nan은 float로만 쓸 수 있음

x   NaN
y   NaN
z   NaN
dtype: float64

#### Series class - index 지정 없이 dict 객체만 사용

In [19]:
#index 지정 없이 dict 객체만 가지고 Series를 만들 수도 있습니다. 
#dic의 key가 index로 사용되는 것을 확인할 수 있습니다.

s = pd.Series({"서울": 9_904_312,
                "부산": 3_448_737,
                "인천": 2_890_451,
                "대구": 2_466_052
                })
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [20]:
#연습문제
s = {"철수" : 88, "영희" : 95, "길동" : 100, "몽룡": 67}
ser = pd.Series(data = s, index = ["철수","영희","길동","몽룡"])
ser

철수     88
영희     95
길동    100
몽룡     67
dtype: int64

In [21]:
#연습문제 #진명님 풀이
s = {"철수" : 88, "영희" : 95, "길동" : 100, "몽룡": 67}
#key값이 이미 설정되어있기 때문에 인덱스를 지정해주지 않아도 됌
ser = pd.Series(s)
ser

철수     88
영희     95
길동    100
몽룡     67
dtype: int64

### Series index를 속성처럼 활용하기 - label 값이 공백 없는 문자열

In [22]:
#만약 label 값이 공백 없는 문자열인 경우에는 index label이 속성인것처럼 마침표(.)를 활용하여 해당 index 값에 접근할 수도 있습니다.

d = {'a' : 1, 'b' : 2, 'c' : 3}
ser = pd.Series(data = d, index = ['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [23]:
ser.a, ser.b, ser.c

(1, 2, 3)

### Series의 특징 - 딕셔너리와 비슷함

In [24]:
#Series 객체는 index label을 키(key)로 사용하기에 딕셔너리 자료형과 비슷한 특징을 가짐.
#Series를 딕셔너리와 같은 방식으로 사용할 수 있게 구현해놓음.
#in 연산, items() 메서드를 사용한 for문 루프를 통해 각 요소의 키(key)와 값(value)에 접근 가능

In [25]:
"서울" in s # 인덱스 레이블 중에 서울이 있는가

False

In [26]:
"대전" in s # 인덱스 레이블 중에 대전이 있는가

False

In [27]:
s.values

In [28]:
 50 in s # s는 인덱스기 때문에 value 값은 s안에 없음

False

In [29]:
#"서울" in s.values #서울은 인덱스

In [30]:
for k, v in s.items():
    print(f"{k}, {v}")

철수, 88
영희, 95
길동, 100
몽룡, 67

In [31]:
s = pd.Series({"서울": 9_904_312,
                "부산": 3_448_737,
                "인천": 2_890_451,
                "대구": 2_466_052
                })
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [32]:
#연습문제
#도시의 인구가 300만이 넘는 곳을 찾아 다음과 같이 출력해보세요.
#for문과 items() 메서드를 활용하세요.
for k,v in s.items(): #s에 들어있는 key값과 value값에 대하여
    if v > 300_0000: #value값이 300만이 넘는 경우
        print(f"{k}의 인구는 300만이 넘습니다.") #print해라

서울의 인구는 300만이 넘습니다.
부산의 인구는 300만이 넘습니다.

### Series 연산 - values만 벡터화 연산가능

In [33]:
#넘파이 배열처럼 Series도 벡터화 연산을 할 수 있습니다. 
#다만 연산은 Series의 value에만 적용되며 index 값은 변하지 않습니다. 
#예를 들어 인구 숫자를 백만 단위로 만들기 위해 Series 객체를 1,000,000 으로 나누어도 
#index label에는 영향을 미치지 않는 것을 볼 수 있다.

s / 1000000 # index label을 제외한
            # Series value에만 연산 적용

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

### Series 인덱싱 - index label(배열 인덱싱)을 이용한 인덱싱

In [34]:
# Series는 numpy 배열에서 가능한 인덱싱 방법 이외에도
# index label을 이용한 인덱싱도 가능
#배열 인덱싱이나 index label을 이용한 슬라이싱(slicing)도 가능

s[1], s["부산"] # 배열 인덱싱, index label 인덱싱 순서

(3448737, 3448737)

In [35]:
s[3], s["대구"]

(2466052, 2466052)

In [36]:
# 배열 인덱싱을 하면 부분적인 값을 가지는 Series 자료형 반환
# 자료의 순서를 바꾸거나 특정한 자료만 취사 선택 가능

s[[0, 3, 1]]

서울    9904312
대구    2466052
부산    3448737
dtype: int64

In [37]:
s[["서울", "대구", "부산"]]

서울    9904312
대구    2466052
부산    3448737
dtype: int64

In [38]:
# 단 하나의 값을 시리즈 형태로 가져오고 싶으면
# 아래와 같이 값이 하나인 리스트로 인덱싱하여 작성 가능

s[[0]]

서울    9904312
dtype: int64

In [39]:
#연습문제
#인천의 인덱스와 값을 시리즈로 조회해보기
s = pd.Series({"서울": 9_904_312,
                "부산": 3_448_737,
                "인천": 2_890_451,
                "대구": 2_466_052
                })
s[[2]]
s[["인천"]]

인천    2890451
dtype: int64

# Series 슬라이싱

In [40]:
# 슬라이싱을 해도 부분적인 Series 반환
# 이 때 문자열 label을 이용하여 슬라이싱을 하는 경우에는
# 숫자 인덱싱과 달리 콜론(:) 기호 뒤에 오는 값도 결과에 포함되므로 주의!!

s[1:3] # 두번째(1)부터 세번째(2)까지 (네번째 (3) 미포함)

부산    3448737
인천    2890451
dtype: int64

In [41]:
s["부산":"대구"] # 부산에서 대구까지 (대구도 포함됨)

부산    3448737
인천    2890451
대구    2466052
dtype: int64

# Series index 기반 연산

In [42]:
s # 2015년 도시별 인구

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [43]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
             index = ["서울", "부산", "인천", "대구"])
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [44]:
s2 = pd.Series({"서울" : 9631482,
                "부산" : 3393191,
                "인천" : 2632035,
                "대전" : 1490158
                })
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [45]:
s2 # 2010년 도시별 인구

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [46]:
#2015년도와 2010년의 인구 증가 계산
#두 개의 Series의 차이를 구하기
#두 Series에 대해 연산을 하는 경우 index가 같은 데이터에 대해서만 차이를 구함.
#대구와 대전의 경우에는 2010년 자료와 2015년 자료가 모두 존재하지 않기 때문에 계산이 불가능하므로 
#NaN(Not a Number)이라는 값을 가지게 됩니다. 
#즉,하나라도 값이 없으면 Nan 값이 나오며, Nan이 나올 경우, float 고정

ds = s - s2
ds
# NaN 값이 float 자료형에서만 표현 가능하므로 다른 계산 결과도
# 모두 float 자료형이 되는 점의 주의!!

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

### Series에서 값이 NaN인지 확인 - isnull()

In [47]:
#Series의 값이 NaN이면 True / NaN이 아니면 False인 
#bool type의 Series를 구하려면 isnull() 메서드를 사용하면 됩니다.

ds.isnull()

대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

### Series에서 값이 NaN이 아닌지 확인- notnull()

In [48]:
#Series의 값이 NaN이 아니면 True / NaN이면 False 값을 갖는 
#bool type의 Series를 구하려면 notnull() 메서드를 사용하면 됩니다.

ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

### Series에서 NaN이 아닌 값만 인덱싱으로 구하기(_[_.notnull()])

In [49]:
#notnull() 메서드로 구한 True / False 값을 갖는 시리즈를 활용하여 
#NaN인 값을 배제한 Series 객체를 인덱싱하여 만들 수 있습니다.

ds[ds.notnull()]
#shape이 같은 것 중 True값을 가지는 것만 필터링 하는 느낌

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

### Series에서 NaN이 아닌 값 구하기

In [50]:
#마찬가지로 NaN 값인 것을 배제하고 2010년 대비 2015년 인구 증가율(%)은 다음과 같이 구할 수 있습니다.

In [51]:
s # 2015년 도시별 인구

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [52]:
s2 # 2010년 도시별 인구

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [53]:
rs = (s - s2) / s2 * 100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [54]:
#연습문제
#2010년 대비 2015년 인구 증가를 구하세요.(NaN 값인 것을 배제) 
#인구수 증가가 가장 많은 도시의 이름과 증가한 인구수를 Series 객체로 출력해보세요.

people = s-s2
people = people[people.notnull()]
people

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [55]:
import numpy as np
np.argmax(people)
print(people[[1]])

서울    272830.0
dtype: float64

In [56]:
#연습문제 다른 풀이
people = s-s2 
people = people[people.notnull()]
people[[people.values.argmax()]]

서울    272830.0
dtype: float64

In [57]:
#import numpy as np
#people = people[people.notnull()].argmax(people)
#people

# Series 데이터 추가, 갱신, 삭제

### 딕셔너리와 비슷하게 인덱싱을 한 경우

In [58]:
# 딕셔너리와 비슷하게 인덱싱을 한 경우에 맞춰 사용하면
# 데이터를 추가(add)하거나 갱신(update)할 수 있다.

# 기존에 있는 index에 값을 할당하면 갱신

rs # 인구 증가율(%)

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [59]:
rs["부산"] = 1.63
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [60]:
#연습문제
#앞의 예제의 Series 객체의 값을 다음과 같이 수정하세요
#- 서울: 2.83
#- 인천: 9.82
rs["부산"] = 1.63
rs["서울"] = 2.83
rs["인천"] = 9.82
rs

부산    1.63
서울    2.83
인천    9.82
dtype: float64

In [61]:
#연습문제 다른풀이
#앞의 예제의 Series 객체의 값을 다음과 같이 수정하세요
#- 서울: 2.83
#- 인천: 9.82
rs["서울","인천"] = 2.83, 9.82
rs

부산    1.63
서울    2.83
인천    9.82
dtype: float64

In [62]:
#부산부터 값을 바꿔줄 경우,
rs["부산":"인천"] = 1.63, 2.83,9.82
rs

부산    1.63
서울    2.83
인천    9.82
dtype: float64

In [63]:
#연습문제 또 다른 풀이
rs[1:] = (2.83 ,9.82)
rs

부산    1.63
서울    2.83
인천    9.82
dtype: float64

### 없는 index에 값을 할당한 경우

In [64]:
# 없는 index에 값을 할당하면 Series에 데이터가 추가(add)
#아래 예제에서는 “대구"라는 index는 현재 없는데 그 index에 값을 1.41 할당하여 데이터를 추가하고 있습니다.

rs["대구"] = 1.41 # rs에 없던 대구에 대한 정보 추가
rs

부산    1.63
서울    2.83
인천    9.82
대구    1.41
dtype: float64

In [65]:
# 데이터 삭제할 때도 딕셔너리처럼 del 명령 사용
#아래 예제에서는 “서울"이라는 index에 접근하여 del 명령을 사용하여 데이터를 삭제하고 있습니다.

del rs["서울"]
rs

부산    1.63
인천    9.82
대구    1.41
dtype: float64

In [66]:
#연습문제
#아래 fin1과 fin2_value, fin2_index를 활용하여 Series 객체 ser_finance1, ser_finance2를 만들어보세요. 
fin1 = {"카카오":60010, "삼성전자":61000, "LG전자": 90000}
fin2_value = [60200, 61200, 200100]
fin2_index = ["카카오", "삼성전자", "네이버"]

ser_finance1 = pd.Series(fin1)
ser_finance2 = pd.Series(fin2_value,fin2_index)
print(ser_finance1)
print(ser_finance2)

카카오     60010
삼성전자    61000
LG전자    90000
dtype: int64
카카오      60200
삼성전자     61200
네이버     200100
dtype: int64

In [67]:
#연습 문제
#앞서 만든 두 Series 객체를 활용하여 사칙 연산을 각각 수행해보세요. 
#사칙연산 중 NaN 값을 갖는 항목과 dtype을 각각 확인해보세요.
#왜 해당 dtype이 나오는지 설명하세요.

ser_finance1 - ser_finance2

LG전자      NaN
네이버       NaN
삼성전자   -200.0
카카오    -190.0
dtype: float64

In [68]:
ser_finance1 + ser_finance2

LG전자         NaN
네이버          NaN
삼성전자    122200.0
카카오     120210.0
dtype: float64

In [69]:
ser_finance1 * ser_finance2

LG전자             NaN
네이버              NaN
삼성전자    3.733200e+09
카카오     3.612602e+09
dtype: float64

In [70]:
ser_finance1 / ser_finance2 #항상 float

LG전자         NaN
네이버          NaN
삼성전자    0.996732
카카오     0.996844
dtype: float64

In [71]:
#ser_finance1에는 lg전자가 있지만 ser_finance2에는 없고,
#ser_finance2에는 네이버가 있지만 ser_finance1에는 없어서 
#어떠한 사칙연산을 수행해도 값은 Nan이 나오며, 이에 따라 모든 dtype은 float로 나오게 됩니다.

In [72]:
#연습문제2
#아래의 연산 결과 중 NaN 값이 없게 Series 객체를 출력해보세요

result = ser_finance1 - ser_finance2
result[result.notnull()]

삼성전자   -200.0
카카오    -190.0
dtype: float64